@media (max-width:450px){
    body{
        background-color: aqua;
    }
}
#welcome-section{
    display : block;
    height:100vh;
    padding-top: 0px;
    margin-top: 0px;
}

.nav-bar{
    position: fixed;
    height:5vw;
    top: 0;
    width: 100%;
}